# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Environment variables (DO NOT COMMIT)
.env

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.git

# Testing
.mypy_cache
.pytest_cache
.hypothesis

# Streamlit
.streamlit/
